<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009638706346-lmkhlqm3d35o8mfu17u9kelp6da30agl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009638706346-lmkhlqm3d35o8mfu17u9kelp6da30agl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1009638706346-mqqdljpq9p74oosp1kavkpmadb8ebmn5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDRMtNBk7e8QCapA0ZJizjA-_0zZ1tDXk</string>
	<key>GCM_SENDER_ID</key>
	<string>1009638706346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exye.app.exyeApp</string>
	<key>PROJECT_ID</key>
	<string>exye-luxury</string>
	<key>STORAGE_BUCKET</key>
	<string>exye-luxury.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009638706346:ios:253a9a1efb7b7fc03794d3</string>
</dict>
</plist>